{% extends "base.html" %}

{% block title %}
    Index
{% endblock %}

{% block content %}
<h1>Bienvenue sur le portail d'inscription de GUDLFT</h1>
<p>Merci d'entrer le mail associé à votre club:</p>
<form action="{{ url_for('show_summary') }}" method="post">
    <label for="email">Adresse mail:</label>
    <input type="email" name="email" id="email"/>
    <input type="submit">Connexion</input>
</form>

<p>
    <a href="{{ url_for('pointsBoard') }}">Voir le tableau des points</a>
</p>
{% endblock %}
