{% extends "base.html" %}

{% block title %}
    Points Board || GUDLFT
{% endblock %}

{% block content %}
<header class="header" role="banner">
    <div class="navbar">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo de GUDLFT." class="logo">
        <nav>
            {% if user.is_authenticated %}
            <a href="{{ url_for('welcome') }}">Connexion</a>
            {% endif %}
            <a href="{{ url_for('index') }}">Connexion</a>
            <a href="{{ url_for('logout') }}">Déconnexion</a>
        </nav>
    </div>
  </header>
<h1>Points Board</h1>
<table>
    <thead>
        <tr>
            <th>Club</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        {% for club in clubs %}
        <tr>
            <td>{{ club['name'] }}</td>
            <td>{{ club['points'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
