{% extends "base.html" %}

{% block title %}
    Choix de compétition
{% endblock %}

{% block content %}
<a href="{{ url_for('logout') }}">Déconnexion</a>


<h1>Choix de la compétition à réserver</h1>


{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<p><strong>Bienvenue : {{ club['name'] }} </strong></p>
<p><strong>Points disponibles:</strong> {{ club['points'] }}</p>
<h3>Compétitions:</h3>
<ul>
    {% for comp in competitions %}
        <li>
            <strong>Nom de la compétition : </strong>{{ comp['name'] }}<br />
            <strong>Date :</strong> {{ comp['date'] }}<br />
            <strong>Nombre de places disponibles :</strong> {{ comp['numberOfPlaces'] }}
        </li>
        <li>
            {% if comp['numberOfPlaces']|int > 0 %}
                <a href="{{ url_for('book', competition=comp['name'], club=club['name']) }}">Réserver des places</a>
            {% endif %}
        </li>
        <hr />
    {% endfor %}
</ul>
<h3>
    <a href="{{ url_for('pointsBoard') }}">Voir le tableau des points</a>
</h3>
{% endblock %}
